.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 600px) {
  .keyboard-key {
    font-size: 1rem !important;
  }
  .diagram img {
    height: 200px !important;
  }
  .wordblock-letter {
    font-size: 1.5rem !important;
    width: 35px !important;
    height: 35px !important;

  }
}

body {
  height: 100vh;
  background-color: #f8f9fa;
}

.keyboard {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.diagram img {
  height: 250px;
}
.bg-warning-light {
  background-color: #ffc107db;
}
.keyboard-key {
  font-size: 1.3rem;
}
.font-fam-indie {
  font-family: 'Indie Flower', cursive !important;
}
.font-fam-raleway {
  font-family: 'Raleway', sans-serif !important;
}
.wordblock-letter {
  width: 40px;
  height: 40px;
  font-weight: bold;
  font-size: 2rem;
  border-bottom: #282c34 3px solid;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* display: none; */
}
.project-list {
  /* font-family: monospace; */
  background-color: #cce5ff;
  border-color: #b8daff;
  color: #004085;
}

/* cloud animation */
.cloud {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 80px;
}
.cloud1 {
  animation-name: cloud1;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes cloud1 {
  0% {left: 10%;}
  50% {left: 13%;}
  100% {left: 10%;}
}
.cloud2 {
  animation-name: cloud2;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes cloud2 {
  0% {right: 10%;}
  50% {right: 13%;}
  100% {right: 10%;}
}

